Abstract.ipynb
index.ods

geop_lands_I.ipynb

countries_ref.csv
ldown_c.csv
l_simple_mod.ods
wlands16.csv

CL_old.png
desc_table_old.png
ha_ref_old.png
hist_dens_CL_old.png
hist_dens_old.png
HpF_bars_old.png
squari_dist_old.png
world_map_old.png

CL_old.ipynb
desc_table_old.ipynb
ha_ref_old.ipynb
hist_dens_old.ipynb
hist_dens_CL_old.ipynb
HpF_bars_old.ipynb
images_script.ipynb
squari_dist_old.ipynb
world_map_old.ipynb

.ipynb_checkpoints
